.jumbotron{
    height: 100vh;
}

.numeric-base-label{
	padding-right: 50px;
}

.container-specs{
	padding-top: 40px;
}

.numeric-base-inputs{
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.padding-top-15{
	padding-top: 15px;
}

body{
	background-color: #E8E8E8;
}